<%- include('./layout/header.ejs') %>

	<!-- Khối chính -->
	<section class="main-content">
		<div class="row">
			<div class="span12">
				<br />
				<!-- Khối sản phẩm gần đây -->
				<div class="row">
					<div class="span12">
						<h4 class="title">
							<span class="pull-left">
								<span class="text">
									<span class="line"><a href="product_detail.html"><strong>Các sản phẩm gần đây
												nhất</strong></a></span>
								</span>
							</span>
							<span class="pull-right">
								<a class="left button" href="#myCarousel-2" data-slide="prev"></a>
								<a class="right button" href="#myCarousel-2" data-slide="next"></a>
							</span>
						</h4>
						<div id="myCarousel-2" class="myCarousel carousel slide">
							<div class="carousel-inner">
								<!-- Mỗi khối chỉ show 4 sản phẩm 1 lúc -->
								<div class="active item">
									<ul class="thumbnails">
										<% for(let item of products) {%>
											<li class="span3">
												<div class="product-box">
													<span class="sale_tag"></span>
													<a href="/products/<%= item.code %>"><img alt=""
															src="<%= item.avt %>"></a><br />
													<a href="/products/<%= item.code %>" class="title">
														<%= item.name %>
													</a><br />
													<h4 class="price">
														<%= item.price.toLocaleString() %>đ
													</h4>
													<% if(item.discount > 0){ %> 
													<h5>
														<strike><%= (item.price/((100-item.discount)/100)).toLocaleString() %>đ</strike>
														<span style="color: green;"><%= item.discount %>% </span>
													</h5>
													<% } %> 
												</div>
											</li>
											<% } %>
									</ul>
								</div>
								
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh16.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">18.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh11.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh17.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">You think
													water</a><br />
												<a href="products.html" class="category">World once</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh14.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Quis nostrud
													exerci</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
									</ul>
								</div>

								<!-- -->
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh18.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">28.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh9.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">19.500.000đ</p>
											</div>
										</li>

									</ul>
								</div>
								<!-- -->

							</div>
						</div>
					</div>
				</div>
				<!--end Khối sản phẩm gần đây -->


				<!-- Khối sản phẩm bán chạy -->
				<br />
				<div class="row">
					<div class="span12">
						<h4 class="title">

							<span class="pull-left"><span class="text"><span class="line"><a
											href="product_detail.html"><strong>Các sản phẩm bán chạy
												nhất</strong></a></span></span>
							</span>

							<span class="pull-right">
								<a class="left button" href="#myCarousel-3" data-slide="prev"></a><a
									class="right button" href="#myCarousel-3" data-slide="next"></a>
							</span>
						</h4>
						<div id="myCarousel-3" class="myCarousel carousel slide">
							<div class="carousel-inner">
								<div class="active item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag"></span>
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh5.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Asus K45A-VX229
													(K45A-3CVX)</a><br />
												<a href="products.html" class="category">
													<p class="price">11.000.000đ</p>
												</a>

											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh6.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Dell Vostro 2420
													(V522412)</a><br />
												<a href="products.html" class="category">
													<p class="price">12.679.000đ</p>
												</a>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh7.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">HP Stream 14-ax000na
													14-inch HD</a><br />
												<a href="products.html" class="category">
													<p class="price">15.679.000đ</p>
												</a>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh8.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Acer Chromebook R11
													CB5-132T 11.6-Inch</a><br />
												<a href="products.html" class="category">
													<p class="price">16.500.000đ</p>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh10.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">18.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh9.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh11.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">You think
													water</a><br />
												<a href="products.html" class="category">World once</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh12.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Quis nostrud
													exerci</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
									</ul>
								</div>

								<!-- -->
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh13.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">28.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh14.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">19.500.000đ</p>
											</div>
										</li>

									</ul>
								</div>
								<!-- -->

							</div>
						</div>
					</div>
				</div>
				<!-- end Khối sản phẩm bán chạy -->


				<!-- Khối sản phẩm xem nhiều -->
				<br />
				<div class="row">
					<div class="span12">
						<h4 class="title">

							<span class="pull-left"><span class="text"><span class="line"><a
											href="product_detail.html"><strong>Các sản phẩm được xem nhiều
												nhất</strong></a></span></span>
							</span>

							<span class="pull-right">
								<a class="left button" href="#myCarousel-4" data-slide="prev"></a><a
									class="right button" href="#myCarousel-4" data-slide="next"></a>
							</span>
						</h4>
						<div id="myCarousel-4" class="myCarousel carousel slide">
							<div class="carousel-inner">
								<div class="active item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag"></span>
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh15.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Asus K45A-VX229
													(K45A-3CVX)</a><br />
												<a href="products.html" class="category">
													<p class="price">11.000.000đ</p>
												</a>

											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh11.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Dell Vostro 2420
													(V522412)</a><br />
												<a href="products.html" class="category">
													<p class="price">12.679.000đ</p>
												</a>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh12.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">HP Stream 14-ax000na
													14-inch HD</a><br />
												<a href="products.html" class="category">
													<p class="price">15.679.000đ</p>
												</a>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh13.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Acer Chromebook R11
													CB5-132T 11.6-Inch</a><br />
												<a href="products.html" class="category">
													<p class="price">16.500.000đ</p>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh6.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">18.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh9.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img src="themes/images/cloth/anh7.png"
															alt="" /></a></p>
												<a href="product_detail.html" class="title">You think
													water</a><br />
												<a href="products.html" class="category">World once</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh11.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Quis nostrud
													exerci</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
									</ul>
								</div>

								<!-- -->
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh10.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">28.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh13.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">19.500.000đ</p>
											</div>
										</li>

									</ul>
								</div>
								<!-- -->

							</div>
						</div>
					</div>
				</div>
				<!--end Khối sản phẩm xem nhiều -->


				<!-- Khối sản phẩm khác -->
				<br />
				<div class="row">
					<div class="span12">
						<h4 class="title">

							<span class="pull-left"><span class="text"><span class="line"><a
											href="product_detail.html"><strong>Các sản phẩm
												khác</strong></a></span></span>
							</span>

							<span class="pull-right">
								<a class="left button" href="#myCarousel-5" data-slide="prev"></a><a
									class="right button" href="#myCarousel-5" data-slide="next"></a>
							</span>
						</h4>
						<div id="myCarousel-5" class="myCarousel carousel slide">
							<div class="carousel-inner">
								<div class="active item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag"></span>
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh24.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Asus K45A-VX229
													(K45A-3CVX)</a><br />
												<a href="products.html" class="category">
													<p class="price">11.000.000đ</p>
												</a>

											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh23.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Dell Vostro 2420
													(V522412)</a><br />
												<a href="products.html" class="category">
													<p class="price">12.679.000đ</p>
												</a>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh22.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">HP Stream 14-ax000na
													14-inch HD</a><br />
												<a href="products.html" class="category">
													<p class="price">15.679.000đ</p>
												</a>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh21.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Acer Chromebook R11
													CB5-132T 11.6-Inch</a><br />
												<a href="products.html" class="category">
													<p class="price">16.500.000đ</p>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh20.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">18.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh13.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh14.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">You think
													water</a><br />
												<a href="products.html" class="category">World once</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/anh19.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Quis nostrud
													exerci</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">16.500.000đ</p>
											</div>
										</li>
									</ul>
								</div>

								<!-- -->
								<div class="item">
									<ul class="thumbnails">
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/laptop4.png" alt="" /></a></p>
												<a href="product_detail.html" class="title">Know exactly</a><br />
												<a href="products.html" class="category">Quis nostrud</a>
												<p class="price">28.500.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<p><a href="product_detail.html"><img
															src="themes/images/cloth/laptop2.jpg" alt="" /></a></p>
												<a href="product_detail.html" class="title">Ut wisi enim
													ad</a><br />
												<a href="products.html" class="category">Commodo consequat</a>
												<p class="price">19.500.000đ</p>
											</div>
										</li>

									</ul>
								</div>
								<!-- -->

							</div>
						</div>
					</div>
				</div>
				<!--end Khối sản phẩm khác -->

			</div>
		</div>
	</section>
	<!--END Khối chính -->


	<!-- Khối chính giới thiệu (không cần sửa) -->
	<div class="row feature_box">
		<div class="span4">
			<div class="service">
				<div class="responsive">
					<img src="themes/images/feature_img_2.png" alt="" />
					<h4>THIẾT KẾ <strong>HIỆN ĐẠI</strong></h4>
					<p>Các sản phẩm được thiết kế theo mẫu mã hiện đại, thời thượng phù hợp với xu hướng người dùng
						hiện nay.</p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="service">
				<div class="customize">
					<img src="themes/images/feature_img_1.png" alt="" />
					<h4>GIAO HÀNG <strong>MIỄN PHÍ</strong></h4>
					<p>Sản phầm được giao hàng nhanh, gọn bằng nhiều hình thức nhằm đáp ứng tốt yêu cầu của khách
						hàng.</p>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="service">
				<div class="support">
					<img src="themes/images/feature_img_3.png" alt="" />
					<h4>PHỤC VỤ <strong>24/7</strong></h4>
					<p>Khách hàng luôn là ưu tiên hàng đầu và được phục vụ 24/7.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Khối chính giới thiệu -->

	<%- include('./layout/footer.ejs') %>