<%- include("../layout/header.ejs") %>

	</section>			
	<section class="main-content">		
		<div class="row">
			<div class="span5">					
				<h4 class="title"><span class="text"><strong>Thông tin</strong> cá nhân</span></h4>
				<form action="/user/update" method="POST">
					<input type="hidden" name="next" value="/">
					<fieldset>
						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input readonly value="<%= user.email%>" type="text" class="output-xlarge" id="email" >
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Họ tên</label>
							<div class="controls">
								<input type="text" name="fullName"  class="output-xlarge" id="fullName" value="<%= user.fullName%>">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Ngày tháng năm sinh</label>
							<div class="controls">
								<input type="date" name="birthday"  class="output-xlarge" id="address" value="<%= moment(user.birthday).format('YYYY-MM-DD') %>" >
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Địa chỉ</label>
							<div class="controls">
								<input type="text" name="address" class="output-xlarge" id="address" value="<%= user.address%>" >
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Giới tính</label>
							<div class="controls">
								<select name="gender" id="gender">
                                    <% if (user.gender){ %> 
                                        <option selected value="true">Nam</option>
                                        <option  value="false">Nữ</option>
                                    <% }else{%> 
                                        <option value="true">Nam</option>
                                        <option selected value="false">Nữ</option>
                                    <% } %>
                                </select>
							</div>
						</div>
						<div class="control-group">
							<input tabindex="3" class="btn btn-primary large" type="submit" id="submit" onclick="" value="Thay đổi thông tin">
							<hr>
						</div>
					</fieldset>
				</form>				
			</div>
			<div class="span7">					
				<h4 class="title"><span class="text"><strong>Lịch sử</strong> mua hàng</span></h4>
				<form action="newcustomer.html" method="post" class="form-stacked">
					<fieldset>
						<div class="control-group">
							<label class="control-label"><strong>Các sản phẩm đã mua</strong> </label>
						</div>
						<li class="span3">
							<div class="product-box">												
								<a href="product_detail.html"><img alt="" src="themes/images/cloth/laptop1.png"></a><br/>
								<a href="product_detail.html" class="title">ASUS VivoBook Swift SF315</a><br/>
								<a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
								<p class="price">16.990.000 đ</p>
							</div>
						</li>
						<li class="span3">
							<div class="product-box">
								<span class="sale_tag"></span>												
								<a href="product_detail.html"><img alt="" src="themes/images/cloth/laptop2.jpg"></a><br/>
								<a href="product_detail.html" class="title">ASUS Vivobook Max X441UA</a><br/>
								<a href="#" class="category">intel Core i3, RAM 4GB DDR4</a>
								<p class="price">9.790.000 đ</p>
							</div>
						</li>
						<li class="span3">
							<div class="product-box">												
								<span class="sale_tag"></span>
								<a href="product_detail.html"><img alt="" src="themes/images/cloth/anh4.png"></a><br/>
								<a href="product_detail.html" class="title">Acer Chromebook R11 CB5-132T 11.6-Inch</a><br/>
								<a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
								<p class="price">16.500.000 đ</p>
							</div>
						</li>
						<li class="span3">
							<div class="product-box">												
								<a href="product_detail.html"><img alt="" src="themes/images/cloth/anh8.png"></a><br/>
								<a href="product_detail.html" class="title">ROG ZENPHYRUS(GX501)</a><br/>
								<a href="#" class="category">Intel Core i7-7700HQ/24GB RAM/1TB SSD PCie</a>
								<p class="price">16.500.000 đ</p>
							</div>
						</li>
					</fieldset>
					
				</form>					
			</div>				
		</div>
	</section>			
	<%- include("../layout/footer.ejs") %>