<%- include("../layout/header.ejs") %>

	<section>
		Sắp xếp theo

		<!-- <form action="&sort=" method="get"> -->
		<input type="submit" name="sortby" id="sort_by_asc" value="Giá tăng dần">
		<input type="submit" name="sortby" id="sort_by_desc" value="Giá giảm dần">
		<input type="submit" name="sortby" id="sort_by_order" value="Bán chạy nhất">
		<input type="submit" name="sortby" id="sort_by_discount" value="Khuyến mãi tốt nhất">

		<!-- </form> -->

	</section>
	<hr>
	<% if(numOfProduct>0){ %>
		<h4><span>Tìm được <%= numOfProduct %> sản phẩm <% if(key !="" ){ %>cho "<%= key %>"<% } %> </span></h4>
		<%}else{ %>
			<h4>Không tìm được sản phẩm nào</h4>
			<% } %>
				</section>
				<section class="main-content">

					<div class="row">

						<div class="span9">
							<ul class="thumbnails listing-products">
								<% for(let item of products) {%>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="/products/<%= item.code %>"><img alt=""
													src="<%= item.avt %>"></a><br />
											<a href="/products/<%= item.code %>" class="title">
												<%= item.name %>
											</a><br />
											<!-- <a href="#" class="category">Core i5 - 7200U/4GB/500GB/14 HD</a> -->
											<h4 class="price">
												<%= item.price.toLocaleString() %>đ
											</h4>
											<% if(item.discount> 0){ %>
												<h5>
													<strike>
														<%= (item.price/((100-item.discount)/100)).toLocaleString() %>đ
													</strike>
													<span style="color: green;">
														<%= item.discount %>%
													</span>
												</h5>
												<% } %>
										</div>
									</li>
									<% } %>

										<li class="span3">
											<div class="product-box">
												<a href="product_detail.html"><img alt=""
														src="/themes/images/cloth/laptop1.png"></a><br />
												<a href="product_detail.html" class="title">ASUS VivoBook Swift
													SF315</a><br />
												<a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
												<p class="price">16.990.000 đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag"></span>
												<a href="product_detail.html"><img alt=""
														src="/themes/images/cloth/laptop2.jpg"></a><br />
												<a href="product_detail.html" class="title">ASUS Vivobook Max
													X441UA</a><br />
												<a href="#" class="category">intel Core i3, RAM 4GB DDR4</a>
												<p class="price">9.790.000 đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<span class="sale_tag"></span>
												<a href="product_detail.html"><img alt=""
														src="themes/images/cloth/laptop4.png"></a><br />
												<a href="product_detail.html" class="title">Asus VivoBook
													S510UA</a><br />
												<a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
												<p class="price">16.290.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<a href="product_detail.html"><img alt=""
														src="themes/images/cloth/laptop3.png"></a><br />
												<a href="product_detail.html" class="title">Asus VivoBook ES1</a><br />
												<a href="#" class="category">N3350/2GB/500GB/Win10</a>
												<p class="price">6.290.000đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<a href="product_detail.html"><img alt=""
														src="themes/images/cloth/laptop1.png""></a><br/>
							<a href=" product_detail.html" class="title">ASUS VivoBook S15 S510UA</a><br />
												<a href="#" class="category">Intel Core i3-i5/RAM 4GB</a>
												<p class="price">15.990.000 đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<a href="product_detail.html"><img alt=""
														src="themes/images/cloth/laptop4.png"></a><br />
												<a href="product_detail.html" class="title">ROG GL553VE</a><br />
												<a href="#" class="category">Intel Core i7-7700HQ/ 8/16GB RAM/1TB
													HDD/GTX 1050 Ti 4GB</a>
												<p class="price">27.490.000 đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<a href="product_detail.html"><img alt=""
														src="themes/images/cloth/laptop2.jpg"></a><br />
												<a href="product_detail.html" class="title">ROG
													ZENPHYRUS(GX501)</a><br />
												<a href="#" class="category">Intel Core i7-7700HQ/24GB RAM/1TB SSD
													PCie</a>
												<p class="price">79.990.000 đ</p>
											</div>
										</li>
										<li class="span3">
											<div class="product-box">
												<a href="product_detail.html"><img alt=""
														src="themes/images/cloth/laptop3.png"></a><br />
												<a href="product_detail.html" class="title">ASUSPRO P2540UV</a><br />
												<a href="#" class="category">Intel Core i5-7200U/8GB RAM</a>
												<p class="price">15.800.000 đ</p>
											</div>
										</li>
							</ul>
							<hr>
							<div class="pagination pagination-small pagination-centered">
								<ul>
									<li><a href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
											<span>Prev</span>
										</a>
									</li>

									<li class="active"><a href="products.html">1</a></li>
									<li><a href="product2.html">2</a></li>
									<li><a href="product2.html" aria-label="Next">

											<span>Next</span>
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="span3 col">
							<div id="menu-filter">
								<h3>Mức Giá</h3>
								<div>
									<label for="">Từ </label>
									<input type="number" step="100000" value="10000000" name="" id="price_min">
									<label for="">Đến </label>
									<input type="number" step="100000" value="20000000" name="" id="price_max">
									<br><input type="submit" value="Lọc" class="btn btn-info" id="filter_by_price">
								</div>
								<!-- <h3>Loại Sản Phẩm</h3>
								<div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox11" type="checkbox" class="input-lg">
										<label for="checkbox11">
											Tất cả
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox22" type="checkbox" class="input-lg">
										<label for="checkbox22">
											Chơi game
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox33" type="checkbox" class="input-lg">
										<label for="checkbox33">
											Học tập - văn phòng
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox44" type="checkbox" class="input-lg">
										<label for="checkbox44">
											Đồ họa - kỹ thuật
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox55" type="checkbox" class="input-lg">
										<label for="checkbox55">
											Cao cấp - Sang trọng
										</label>
									</div>

								</div> -->
								<h3>Hãng Sản Xuất</h3>
								<div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox111" type="checkbox" class="input-lg">
										<!-- <a href="/products">Tất cả</a> -->
										<label for="checkbox111">
											Tất cả
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox222" type="checkbox" class="input-lg">
										<label for="checkbox222">
											Apple
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox333" type="checkbox" class="input-lg">
										<label for="checkbox333">
											Dell
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox444" type="checkbox" class="input-lg">
										<label for="checkbox444">
											Asus
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox555" type="checkbox" class="input-lg">
										<label for="checkbox555">
											HP
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox666" type="checkbox" class="input-lg">
										<label for="checkbox666">
											Acer
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox777" type="checkbox" class="input-lg">
										<label for="checkbox777">
											Lenovo
										</label>
									</div>
								</div>
								<h3>Hệ Điều Hành</h3>
								<div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox8" type="checkbox" class="input-lg">
										<label for="checkbox8">
											Tất cả
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox9" type="checkbox" class="input-lg">
										<label for="checkbox9">
											Windows
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox10" type="checkbox" class="input-lg">
										<label for="checkbox10">
											macOS
										</label>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox12" type="checkbox" class="input-lg">
										<label for="checkbox12">
											Dos
										</label>
									</div>
								</div>


							</div>
							<div class="block">
								<h4 class="title">
									<span class="pull-left"><span class="text">Ngẫu nhiên</span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a
											class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails listing-products">
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<a href="product_detail.html"><img alt=""
																src="themes/images/cloth/laptop2.jpg"></a><br />
														<a href="product_detail.html" class="title">Lenovo IdeaPad
															320</a><br />
														<a href="#" class="category">7130U/4GB/128GB/Win10</a>
														<p class="price">10.490.000đ</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails listing-products">
												<li class="span3">
													<div class="product-box">
														<a href="product_detail.html"><img alt=""
																src="themes/images/cloth/laptop4.png"></a><br />
														<a href="product_detail.html" class="title">Lenovo IdeaPad
															320</a><br />
														<a href="#" class="category">6006U/4GB/1TB/Win10</a>
														<p class="price">9.600.000đ</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

						<script type="text/javascript">
							$("#menu-filter").accordion();
						</script>

				</section>

				<script>
					var btnSortPriceAsc = document.querySelector("#sort_by_asc")
					var btnSortPriceDesc = document.querySelector("#sort_by_desc")
					var btnSortOrder = document.querySelector("#sort_by_order")
					var btnSortDiscount = document.querySelector("#sort_by_discount")
					var btnFilterByPrice = document.querySelector("#filter_by_price")
					var inpPriceMin = document.querySelector("#price_min")
					var inpPriceMax = document.querySelector("#price_max")

					// Xếp theo something
					function sortByST(q) {
						let newUrl = ''
						let url = window.location.href // http://localhost:5000/products?value=name&sortby=-price&page=1
						if (url.indexOf("?") == -1) {
							url += "?"
						}
						let p = url.split('&') // http://localhost:5000/products/search?value=name , sortby=-price
						if (url.indexOf("sortby") != -1) {
							let p = url.split('&')
							for (let i = 0; i < p.length; i++) {
								if (p[i].indexOf('sortby') != -1) {
									let key = p[i].split('=')[1] //-price
									console.log(key);
									p[i] = p[i].replace(key, q) // "-price" => q
									newUrl = p.join("&")
									break
								}
							}
						} else {
							newUrl = url + '&sortby=' + q
						}
						window.location.href = newUrl
					}

					// lọc theo mức giá min max
					function filterByPrice(min, max) {
						let bool = false
						let newUrl = ''
						let url = window.location.href
						if (url.indexOf("?") == -1) {
							url += "?"
						}
						let arrUrl = url.split("&")
						if (!min) min = 0
						if (!max) max = 1000000000
						for (let i = 0; i < arrUrl.length; i++) {
							if (arrUrl[i].indexOf("min") != -1) {
								let oldMin = arrUrl[i].split("=")[1]
								arrUrl[i] = arrUrl[i].replace(oldMin, min)
								console.log("update item:", arrUrl[i]);
								bool = true
							}
							if (arrUrl[i].indexOf("max") != -1) {
								let oldMax = arrUrl[i].split("=")[1]
								arrUrl[i] = arrUrl[i].replace(oldMax, max)
								console.log("update item:", arrUrl[i]);
								bool = true
							}
						}
						if (bool) {
							newUrl = arrUrl.join("&")
						} else {
							newUrl = url + "&min=" + min + "&max=" + max
						}
						console.log(newUrl);
						window.location.href = newUrl
					}

					// thêm sự kiện xếp theo giá tăng
					btnSortPriceAsc.addEventListener('click', (e) => {
						e.target.className += " active"
						sortByST('price')
					})
					// thêm sự kiện xếp theo giá giảm
					btnSortPriceDesc.addEventListener('click', (e) => {
						sortByST('-price')
					})
					// thêm sự kiện xếp theo mua nhìu
					btnSortOrder.addEventListener('click', (e) => {
						sortByST('order')
					})
					// thêm sự kiện xếp theo giảm giá nhìu
					btnSortDiscount.addEventListener('click', (e) => {
						sortByST('-discount')
					})
					// thêm sự kiện lọc theo giá
					btnFilterByPrice.addEventListener('click', (e) => {
						let min = inpPriceMin.value
						let max = inpPriceMax.value
						console.log('ok ', min, max);
						filterByPrice(min, max)
					})
				</script>
				<%- include("../layout/footer.ejs") %>